<div class="modal fade" id="modalAddMedico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastra Medico</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="" action="{% url 'cadastra_medico' %}" method="POST">{% csrf_token %}
                <div class="row">
                    <div class="col-md">
                        <label class="mr-sm-2">Nome</label>
                        <input type="text" placeholder="Digite nome " name="nome" value="" class="form-control">
                    </div>
                    <div class="col-md">
                        <label class="mr-sm-2">Especialidade</label>
                        <input class="form-control input-tarefa" type="text" placeholder="" name="especialidade" >
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md">
                        <label class="mr-sm-2">CRM</label>
                        <input type="text" placeholder="" name="crm" value="" class="form-control">
                        
                    </div>
                    <div class="col-md">
                        <label  class="mr-sm-2">CPF</label>
                        <input type="text" placeholder="" name="cpf" class="form-control" alt="">
                    </div>
                </div>
                <div class="row">
                   <div class="col-md">
                    <label  class="mr-sm-2">Data de Nascimento</label>
                    <input type="date" placeholder="" name="data_nascimento" class="form-control">
                   
                   </div>
                    <div class="col-md">
                        <label  class="mr-sm-2">Telefone</label>
                        <input type="text" placeholder="" name="endereco" class="form-control" alt="endereço">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label for="pwd">Endereço</label>
                        <input type="text" placeholder="" name="endereco" class="form-control" alt="endereço">
                     
                    </div>
                     
                 </div>
        
            </form>
       
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
      </div>
    </div>
  </div>