<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 style="font-size: 30px" class="modal-title titulo" id="exampleModalLabel">Nova vaga</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="POST">
                <div class="row">
                    <div class="col-md">
                        <label>Usuario:</label>
                        <input type="text" name="usuario" class="form-control" placeholder="Nome do Usuario">
                    </div>

                    <div class="col-md">
                        <label>Email:</label>
                        <input type="email" name="email" class="form-control" placeholder="email@email.com.br">
                    </div>

                    <div class="col-md">
                        <label>Senha:</label>
                        <input type="password" name="senha" class="form-control" placeholder="email@email.com.br">
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <label>Cargo:</label>
                            <select name="cargo" class="form-select" multiple>
                               
                                    <option value="">cargo</option>
                                

                            </select>
                        </div>
                    
                </div>
                <br>
               
                <input type="submit" value="Nova empresa" class="btn btn-lg btn-orange">

            </form>
        </div>
       
        </div>
    </div>
</div>