
html,body{
    background-image: url('../../login/img/Medicina-do-futuro.jpg') !important; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }