{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'cadastro/css/cadastro_usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'consulta/css/consulta.css' %}">
    <script src="{% static 'consulta/css/conulta.js' %}"></script>
   
{% endblock %}
<title>{% block 'title' %}SYSMED | Marca consulta{% endblock %}</title>
{% block 'dashboard'%}
<div class="container container-cadastro">
    {% if messages %}
        {% for message in messages %}
        <br>
            <section class="alert {{message.tags}}">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </section>
        {% endfor %}
    {% endif %}
    <br>
    <h1 class="display-4">Cadastrar Nova consulta</h1>
    <hr class="bg-hr">
    <form class="" action="{% url 'cadastrar_consulta' %}" method="POST">{% csrf_token %}
        <div class="row">
            <div class="col-md">
                <label class="mr-sm-2">Paciente</label>
                {% comment %} <input type="text" value="{{pacienteunico}}" class="form-control" readonly>                   {% endcomment %}
                  <input type="text" list="pacientes" id="paciente" name="paciente" class="form-control" autocomplete="off">
                  <datalist id="pacientes">
                    <option value="selecione paciente"selected ></option>
                    {% for paciente in pacientes %}
                    <option value="{{paciente.nome}}">id={{paciente.id}}</button></option>
                    {% endfor %}
                  </datalist>
                  {% comment %} <button type="search" value="{{pacientes.id}}" >Pesquisar</button> {% endcomment %}
                 {% comment %} <input type="text"  class="form-control"> {% endcomment %}
                 
                  {% comment %}<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
                    +
                  </button> {% endcomment %}
            </div>
            
            <div class="col-md">
            <label  class="mr-sm-2">Medico responsavel</label>
            <input type="text" list="medicos" id="medico" name="medico" class="form-control" autocomplete="off">
            <datalist id="medicos">
              {% for medico in medicos %}
              <option value="{{medico.nome}}">id={{medico.id}}</button></option>
              {% endfor %}
            </datalist>
           
           </div>
        </div>
        <div class="row"> 
            <div class="col-md">
                <label class="mr-sm-2">Data e Hora da Consulta</label>
                <input class="form-control input-tarefa" type="datetime-local" placeholder="" name="hora" >
                </select>
                
            </div>
            <div class="col-md">
                <label for="pwd">Valor da Consulta (R$)</label>
                <input type="text" placeholder="" name="valor" class="form-control" alt="endereço">
            </div>
        </div>
       
        <div class="row">
            <div class="col-md">
             <label  class="mr-sm-2">Descrição</label>
            <textarea name="descricao" id="" cols="30" rows="5" class="form-control"></textarea>
            </div>
             
         </div>

            <div class="botao">
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </div>
    </form>
</div>

{% endblock 'dashboard'%}

