{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'cadastro/css/cadastro_usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'consulta/css/consulta.css' %}">
    <script src="{% static 'consulta/css/conulta.js' %}"></script>
   
{% endblock %}
<title>{% block 'title' %}SYSMED | Marca consulta{% endblock %}</title>
{% block 'dashboard'%}
<div class="container container-cadastro">
    {% if messages %}
        {% for message in messages %}
        <br>
            <section class="alert {{message.tags}}">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </section>
        {% endfor %}
    {% endif %}
    <div class="container">
        <form class="" action="{% url 'cadastrar_consulta' %}" method="POST">{% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success" value="Salvar">
        </form>
    </div>
</div>

{% endblock 'dashboard'%}
  
{% block modal %}
<!-- Modal -->
{%include 'modulos/_modal_paciente.html'%}
{%include 'modulos/_modal_medico.html'%}
{% endblock modal %}