{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'cadastro/css/cadastro_usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'consulta/css/consulta.css' %}">
    <script src="{% static 'consulta/css/conulta.js' %}"></script>
   
{% endblock %}
<title>{% block 'title' %}SYSMED | Marca consulta{% endblock %}</title>
{% block 'dashboard'%}
<div class="container container-cadastro">
    {% if messages %}
        {% for message in messages %}
        <br>
            <section class="alert {{message.tags}}">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </section>
        {% endfor %}
    {% endif %}
    <div class="container">
       
       
   
    <form method="POST" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}    
        {% bootstrap_form forms %}
        {% if produto %}
            <input type="submit" class="btn btn-success" value="Salvar">
            <a href="{% url 'produtos' %}"<button type="button" class="btn btn-secondary">Voltar</button></a>
            <a href="{{produto.id}}" data-toggle="modal" data-target="#modalExemplo{{produto.id}}"><button type="button" class="btn btn-danger">Excluir</button></a>
            <!-- Modal -->
           
        {% else %}
            <input type="submit" class="btn btn-success" value="Salvar">
            <input type="reset" class="btn btn-primary" value="Limpar">
            <a href="{% url 'listar_consultas' %}"<button type="button" class="btn btn-secondary">Voltar</button></a>
        {% endif %}
    </form>
    </div>
</div>

{% endblock 'dashboard'%}
  
{% block modal %}
<!-- Modal -->
{%include 'modulos/_modal_paciente.html'%}
{%include 'modulos/_modal_medico.html'%}
{% endblock modal %}