.container-cadastro label{
    margin-top: 20px;
}

.botao{
    margin-top: 20px;
}
.home-section{
    background: #2A2A2A;
}
.bg-hr{
    background-color: gray;
}
.modal{
    position: fixed !important ;
}